# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/Debug
/Release
/SMS_Sender.exe
/SMS_Sender.dsw
/SMS_Sender.aps
/SMS_Sender.clw
/SMS_Sender.dsp
/*.plg
/*.ilk
/*.ncb
/*.opt
